* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f1f1f1;
    overflow-x: hidden;
}

#border {
    display: block;
    position: fixed;
    top: -2px;
    left: 50px;
    width: 100%;
    height: 90vh;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    transition: transform 100ms, background 300ms;
    user-select: none;
    pointer-events: none;
}

#name {
    position: fixed;
    text-transform: uppercase;
    font-size: 15vw;
    user-select: none;
    padding: 20px;
    overflow: hidden;
    transition: all 200ms;
}

#name:hover {
    font-style: italic;
    cursor: pointer;
}

a {
    color: #000;
}

a:hover {
    font-style: italic;
    cursor: default;
}

a[href = ""] {
    pointer-events: none;
}

a[href = ""]:hover {
    font-style: normal;
}

section {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}

/*------------------------------
    LANDING PAGE
--------------------------------*/

.landing span.button {
    position: absolute;
    top: 75%;
    left: 50%;
    color: #000;
    font-size: 3.5vw;
    animation: font-shake 100ms alternate infinite;
    cursor: pointer;
}

@keyframes font-shake {
    from {
        font-style: italic;
    }
    to {
        font-style: normal;
    }
}

.landing span.button:hover {
    font-size: 5vw;
    animation: none;
}

.landing span.message {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    writing-mode: vertical-rl;
    white-space: nowrap;
    overflow: hidden;
    max-height: calc(100vh - 5px);
}

.landing span.error {
    display: none;
    position: absolute;
    bottom: 150px;
    right: 50px;
    width: 20vw;
}

.landing #circle {
    display: block;
    position: absolute;
    top: 6vh;
    right: 10vw;
    height: 100px;
    width: 100px;
    background: #f00;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

@media (max-width: 640px) {
    .landing {
        display: none;
    }

    body::before {
        content: "ADRIAN GOMES";
        display: block;
        width: 80vw;
        margin: 20px auto;
        font-size: 16vw;
        font-weight: 900;
        word-break: break-all;
    }

    body::after {
        content: "I know this looks bad... cause it is :) pls come back later";
        display: block;
        width: 80vw;
        margin: 20px auto;
    }
}
